Preprocessing Data: School Locations

In [1]:
import pandas as pd
import matplotlib as plt

school_df = pd.read_csv('../data/raw/dv309_schoollocations2021.csv', encoding = "ISO-8859-1")

# remove redundant columns
school_df = school_df.drop(['Education_Sector', 'Entity_Type', 'School_Status', 'Address_Line_2', 'Postal_Address_Line_2',
                                'Postal_Address_Line_1', 'Full_Phone_No', 'Postal_Town', 'Address_State', 'Postal_State', 
                                'Postal_Postcode', 'School_Type', 'SCHOOL_NO'], axis=1)

# obtain total number of schools in Victoria
tot_school_num = len(school_df)

school_df.to_csv('../data/curated/Cleaned_school.csv')

# check format
school_df.head()

,School_Name,Address_Line_1,Address_Town,Address_Postcode,LGA_ID,LGA_Name,X,Y
0,Alberton Primary School,21 Thomson Street,Alberton,3971,681,Wellington (S),146.666601,-38.617713
1,Allansford and District Primary School,Frank Street,Allansford,3277,673,Warrnambool (C),142.590393,-38.386281
2,Avoca Primary School,118 Barnett Street,Avoca,3467,599,Pyrenees (S),143.475649,-37.084502
3,Avenel Primary School,40 Anderson Street,Avenel,3664,643,Strathbogie (S),145.234722,-36.901368
4,Warrandyte Primary School,5-11 Forbes Street,Warrandyte,3113,421,Manningham (C),145.213980,-37.742675

In [2]:
# number of schools by suburb
school_df.groupby('Address_Town')['School_Name'].count()

Address_Town
ABBOTSFORD      1
ABERFELDIE      2
AIRPORT WEST    1
ALBION          1
ALEXANDRA       1
               ..
Yea             2
Yering          1
Yinnar          1
Yinnar South    1
Zeerust         1
Name: School_Name, Length: 1320, dtype: int64