# Pre-processing External Datasets

In [24]:
import pandas as pd
import re
import numpy as np
from ast import literal_eval

In [2]:
# Read in datasets
income_df = pd.read_csv("datasource-AU_Govt_ABS-UoM_AURIN_DB_3_abs_personal_income_total_income_sa2_2011_2018.csv")
population_df = pd.read_csv("datasource-AU_Govt_ABS-UoM_AURIN_DB_3_abs_regional_population_sa2_2001_2021.csv")

# Drop irrelevant attributes for income dataset
suburb_info = income_df[["sa2_code", "sa2_name"]]
income_df = income_df.loc[:, "mean_aud_2011_12":]
income_df = income_df.join(suburb_info)

# Rename attributes for income dataset
income_df.columns = ["mean_income_2011_12", "mean_income_2012_13", "mean_income_2013_14", "mean_income_2014_15", 
                     "mean_income_2015_16", "mean_income_2016_17", "mean_income_2017_18", "geometries", "suburb_code", 
                     "suburb"]

# Drop irrelevant attributes for population dataset
estimated_population = population_df.loc[:, "erp_2001":"erp_2021"]
population_df = population_df[["state_name_2016", "sa2_maincode_2016", "sa2_name_2016", "erp_change_per_cent_2020_21", 
                               "area_km2", "pop_density_2021_people_per_km2", "births_2016_17", "deaths_2016_17", 
                               "births_2017_18", "deaths_2017_18", "births_2018_19", "deaths_2018_19", "births_2019_20", 
                               "deaths_2019_20", "births_2020_21", "deaths_2020_21", "geom"]]
population_df = population_df.join(estimated_population)

# Rename attributes for population dataset
population_df.rename(columns={"state_name_2016":"state", "sa2_maincode_2016": "suburb_code", "sa2_name_2016": 
                                              "suburb", "erp_change_per_cent_2020_21": "change_in_population_percentage", 
                                              "area_km2": "suburb_area_km2", "pop_density_2021_people_per_km2": 
                                              "population_density_per_km2", "erp_2001": "population_2001", 
                                              "erp_2002": "population_2002", "erp_2003": "population_2003", 
                                              "erp_2004": "population_2004", "erp_2005": "population_2005", 
                                              "erp_2006": "population_2006", "erp_2007": "population_2007", 
                                              "erp_2008": "population_2008", "erp_2009": "population_2009", 
                                              "erp_2010": "population_2010", "erp_2011": "population_2011", 
                                              "erp_2012": "population_2012", "erp_2013": "population_2013", 
                                              "erp_2014": "population_2014", "erp_2015": "population_2015", 
                                              "erp_2016": "population_2016", "erp_2017": "population_2017", 
                                              "erp_2018": "population_2018", "erp_2019": "population_2019", 
                                              "erp_2020": "population_2020", "erp_2021": "population_2021"}, inplace=True)

# Filter instances in Victoria state for population dataset
population_df = population_df[population_df["state"] == "Victoria"]
suburb_code = population_df[["suburb_code"]]

# Filter instances in Victoria state for income dataset
income_df = pd.merge(income_df, suburb_code, on="suburb_code")

# Drop rows containing at least one null value in income dataset
income_df = income_df.dropna(axis=0, how ="any") 

# Drop rows containing at least one null value in popoulation dataset
population_df = population_df.dropna(axis=0, how ="any") 

# Save dataframes as csv files
income_df.to_csv("income.csv", header=False, index=False)
population_df.to_csv("population.csv", header=False, index=False)

# Feature Engineering Primary Dataset

In [73]:
# Read in primary dataset
rental_df = pd.read_csv("All_Houses_Scraped.csv")

# Obtain all suburb names in Victoria
state_suburbs_df = pd.read_csv("georef-australia-state-suburb.csv")
state_suburbs_df = state_suburbs_df[state_suburbs_df["Official Name State"] == "Victoria"]
suburbs = [suburb.lower() for suburb in state_suburbs_df["Official Name Suburb"]]
for i in range(len(suburbs)):
    suburbs[i] = re.sub(r'\(.*\)', '', suburbs[i])
    suburbs[i] = suburbs[i].strip()

extra_suburbs = ["preston west", "prahran east", "sanctuary lakes", "mallacoota"]
for i in range(len(extra_suburbs)):
    suburbs.append(extra_suburbs[i])
    
# Convert address to list
rental_df["name"] = rental_df["name"].str.split(' ')

# Create new columns for potential suburb names
rental_df["name_one"] = [row[-3].lower() for row in rental_df["name"]]
rental_df["name_two"] = [row[-4:-2] for row in rental_df["name"]]
rental_df["name_three"] = [row[-5:-2] for row in rental_df["name"]]

# Convert potential suburb names from list to string
rental_df["name_two"] = rental_df["name_two"].str.join(' ')
rental_df["name_two"] = [row.lower() for row in rental_df["name_two"]]
rental_df["name_three"] = rental_df["name_three"].str.join(' ')
rental_df["name_three"] = [row.lower() for row in rental_df["name_three"]]

i = 0
for suburb_one, suburb_two, suburb_three in zip(rental_df.iloc[:, -3], rental_df.iloc[:, -2], rental_df.iloc[:, -1]):
    if suburb_three in suburbs:
        rental_df.loc[i, ["suburb"]] = suburb_three
    elif suburb_two in suburbs:
        rental_df.loc[i, ["suburb"]] = suburb_two
    elif suburb_one in suburbs:
        rental_df.loc[i, ["suburb"]] = suburb_one
    i += 1

rental_df = rental_df.drop(columns=["name_one", "name_two", "name_three"])

# Drop rows containing at least one null value in primary dataset
rental_df = rental_df.dropna(axis=0, how ="any")

In [74]:
# Drop rows without room information
rental_df["rooms"] = rental_df["rooms"].replace("[]", np.nan)
rental_df = rental_df.dropna(subset = ["rooms"] , how="any").reset_index(drop=True)

# Set up cases for extracting room information
info_one = '|'.join(["bed"])
info_two = '|'.join(["bath"])
info_three = '|'.join(["park"])
numbers = '\d+[.,]?\d*'                              
case_one = fr'({numbers})(?:[\s\d\-\+\/]*)(?:{info_one})'
case_two = fr'({numbers})(?:[\s\d\-\+\/]*)(?:{info_two})'
case_three = fr'({numbers})(?:[\s\d\-\+\/]*)(?:{info_three})'
pattern_one = re.compile(case_one) 
pattern_two = re.compile(case_two) 
pattern_three = re.compile(case_three) 

# Create columns for the number of beedrooms, bathrooms and parking spaces
for i in range(len(rental_df)):
    rental_df["rooms"].loc[i] = literal_eval(rental_df["rooms"].loc[i])
    for j in range(len(rental_df["rooms"].loc[i])):
        rental_df["rooms"].loc[i][j] = rental_df["rooms"].loc[i][j].lower()     
        if pattern_one.findall(rental_df["rooms"].loc[i][j]) != []:
            rental_df.loc[i, "bedrooms"] = pattern_one.findall(rental_df["rooms"].loc[i][j])
        elif pattern_two.findall(rental_df["rooms"].loc[i][j]) != []:
            rental_df.loc[i, "bathrooms"] = pattern_two.findall(rental_df["rooms"].loc[i][j])
        else:
            rental_df.loc[i, "parking_spaces"] = pattern_three.findall(rental_df["rooms"].loc[i][j])

# Preliminary Analysis

In [75]:
print(rental_df.head(30))

                                           Unnamed: 0  \
0   https://www.domain.com.au/15-fintonia-street-h...
1   https://www.domain.com.au/41-bishop-street-oak...
2   https://www.domain.com.au/109-6-dalgety-street...
3   https://www.domain.com.au/16-30-swindon-road-o...
4   https://www.domain.com.au/1-14-bletchley-road-...
5   https://www.domain.com.au/26-austin-street-hug...
6   https://www.domain.com.au/2-67-euston-road-hug...
7   https://www.domain.com.au/5-158-kangaroo-road-...
8   https://www.domain.com.au/3-13-state-street-oa...
9   https://www.domain.com.au/24-euston-road-hughe...
10  https://www.domain.com.au/1-61-macrina-street-...
11  https://www.domain.com.au/2a-grant-street-oakl...
12  https://www.domain.com.au/2-52-william-street-...
13  https://www.domain.com.au/1652-dandenong-road-...
14  https://www.domain.com.au/4-13-elizabeth-stree...
15  https://www.domain.com.au/406-89-atherton-road...
16  https://www.domain.com.au/1-1622-dandenong-roa...
17  https://www.domain.com.au/11-patrick-street-oa...
18  https://www.domain.com.au/48-austin-street-hug...
19  https://www.domain.com.au/1-9-hotham-street-hu...
20  https://www.domain.com.au/1-58-highland-avenue...
21  https://www.domain.com.au/40b-leumear-street-o...
22  https://www.domain.com.au/10-swindon-road-hugh...
23  https://www.domain.com.au/1-shafton-street-oak...
24  https://www.domain.com.au/1-21-logie-street-oa...
25  https://www.domain.com.au/12a-palmer-street-oa...
26  https://www.domain.com.au/2-21-logie-street-oa...
27  https://www.domain.com.au/501-19-21-hanover-st...
28  https://www.domain.com.au/19-regent-street-oak...
29  https://www.domain.com.au/30-oxford-st-oakleig...

                          coordinates      cost_text  \
0          [-37.9032708, 145.0770553]           $680
1           [-37.9077745, 145.092738]        $650.00
2          [-37.8922004, 145.0899378]           $500
3          [-37.8972564, 145.0871089]           $570
4            [-37.894307, 145.082706]           $475
5          [-37.9068017, 145.0786493]  $550 per week
6           [-37.8947925, 145.087094]           $500
7          [-37.9005662, 145.0810834]           $400
8          [-37.9001334, 145.1076911]           $600
9          [-37.8943242, 145.0795109]           $675
10         [-37.9029684, 145.1135954]  $430 per week
11         [-37.8972997, 145.0983472]        $545.00
12   [-37.905378999999996, 145.10301]        $520.00
13         [-37.9070769, 145.1149659]           $475
14         [-37.8978456, 145.1082131]           $615
15         [-37.8991923, 145.0943323]           $530
16          [-37.905481, 145.1123118]        $640.00
17         [-37.9008385, 145.1216553]        $480.00
18  [-37.90827549999999, 145.0782616]           $650
19         [-37.9008042, 145.0783908]           $520
20         [-37.9062499, 145.1174744]        $580.00
21          [-37.905395, 145.1189399]           $490
22          [-37.8971021, 145.085241]           $650
23   [-37.90327130000001, 145.108122]           $440
24         [-37.8944064, 145.0916178]           $750
25          [-37.8967485, 145.091757]           $510
26         [-37.8944209, 145.0916608]           $599
27          [-37.9010428, 145.091833]  $370 per week
28         [-37.9006591, 145.0944616]        $550.00
29         [-37.9012582, 145.0929966]  $1,150 weekly

                                                 desc  \
0                             Joseph Chatziconstantis
1                                   James Drakopoulos
2                                          Nigel Chee
3                                  Matthew Swinnerton
4                                            Jason Gu
5                                       Nina Del Toro
6                                            Jason Gu
7                             Joseph Chatziconstantis
8                                            Jason Gu
9                             Joseph Chatziconstantis
10                                       Leasing Team
11                                  James Drakopoulos
12                                  Steven Zarokostas
13                                  Christian Hidayat
14                                          David Hua
15                                         Nigel Chee
16                                      Rachel Sawyer
17                                     Matthew Spence
18                                 Matthew Swinnerton
19                                 Matthew Swinnerton
20                                  James Drakopoulos
21                            Joseph Chatziconstantis
22                                          David Hua
23                                          David Hua
24                            Joseph Chatziconstantis
25                                          David Hua
26                            Joseph Chatziconstantis
27  This stunning apartment is perfectly located t...
28  ** YOU MUST CLICK ON "EMAIL AGENT" OR "BOOK IN...
29  Perfectly located in central Oakleigh within w...

                                                 name  \
0       [15, Fintonia, Street, Hughesdale, VIC, 3166]
1           [41, Bishop, Street, Oakleigh, VIC, 3166]
2       [109/6, Dalgety, Street, Oakleigh, VIC, 3166]
3         [16/30, Swindon, Road, Oakleigh, VIC, 3166]
4      [1/14, Bletchley, Road, Hughesdale, VIC, 3166]
5         [26, Austin, Street, Hughesdale, VIC, 3166]
6         [2/67, Euston, Road, Hughesdale, VIC, 3166]
7      [5/158, Kangaroo, Road, Hughesdale, VIC, 3166]
8    [3/13, State, Street, Oakleigh, East, VIC, 3166]
9           [24, Euston, Road, Hughesdale, VIC, 3166]
10  [1/61, Macrina, Street, Oakleigh, East, VIC, 3...
11           [2A, Grant, Street, Oakleigh, VIC, 3166]
12       [2/52, William, Street, Oakleigh, VIC, 3166]
13  [1652, Dandenong, Road, Oakleigh, East, VIC, 3...
14  [4/13, Elizabeth, Street, Oakleigh, East, VIC,...
15      [406/89, Atherton, Road, Oakleigh, VIC, 3166]
16  [1/1622, Dandenong, Road, Huntingdale, VIC, 3166]
17         [11, Patrick, Street, Oakleigh, VIC, 3166]
18        [48, Austin, Street, Hughesdale, VIC, 3166]
19       [1/9, Hotham, Street, Hughesdale, VIC, 3166]
20  [1/58, Highland, Avenue, Oakleigh, East, VIC, ...
21  [40B, Leumear, Street, Oakleigh, East, VIC, 3166]
22         [10, Swindon, Road, Hughesdale, VIC, 3166]
23    [1, Shafton, Street, Oakleigh, East, VIC, 3166]
24         [1/21, Logie, Street, Oakleigh, VIC, 3166]
25         [12A, Palmer, Street, Oakleigh, VIC, 3166]
26         [2/21, Logie, Street, Oakleigh, VIC, 3166]
27  [501/19-21, Hanover, Street, Oakleigh, VIC, 3166]
28          [19, Regent, Street, Oakleigh, VIC, 3166]
29              [30, Oxford, St, Oakleigh, VIC, 3166]

                           rooms         suburb bedrooms bathrooms  \
0   [3 beds, 2 baths, 2 parking]     hughesdale        3         2
1   [3 beds, 2 baths, 2 parking]       oakleigh        3         2
2     [1 bed, 1 bath, 1 parking]       oakleigh        1         1
3   [3 beds, 2 baths, 2 parking]       oakleigh        3         2
4    [2 beds, 1 bath, 1 parking]     hughesdale        2         1
5    [3 beds, 1 bath, 2 parking]     hughesdale        3         1
6    [2 beds, 1 bath, 2 parking]     hughesdale        2         1
7    [2 beds, 1 bath, 1 parking]     hughesdale        2         1
8   [3 beds, 2 baths, 2 parking]  oakleigh east        3         2
9   [4 beds, 2 baths, 3 parking]     hughesdale        4         2
10   [3 beds, 1 bath, 1 parking]  oakleigh east        3         1
11   [3 beds, 1 bath, 2 parking]       oakleigh        3         1
12   [3 beds, 1 bath, 1 parking]       oakleigh        3         1
13  [2 beds, 2 baths, 1 parking]  oakleigh east        2         2
14  [3 beds, 2 baths, 1 parking]  oakleigh east        3         2
15  [2 beds, 2 baths, 1 parking]       oakleigh        2         2
16  [3 beds, 2 baths, 2 parking]    huntingdale        3         2
17   [3 beds, 1 bath, 2 parking]       oakleigh        3         1
18  [3 beds, 2 baths, 1 parking]     hughesdale        3         2
19  [4 beds, 2 baths, 1 parking]     hughesdale        4         2
20  [4 beds, 2 baths, 2 parking]  oakleigh east        4         2
21   [3 beds, 1 bath, 2 parking]  oakleigh east        3         1
22  [4 beds, 2 baths, 2 parking]     hughesdale        4         2
23   [3 beds, 1 bath, 2 parking]  oakleigh east        3         1
24  [4 beds, 2 baths, 4 parking]       oakleigh        4         2
25   [2 beds, 1 bath, 1 parking]       oakleigh        2         1
26   [3 beds, 1 bath, 2 parking]       oakleigh        3         1
27    [1 bed, 1 bath, 1 parking]       oakleigh        1         1
28  [3 beds, 2 baths, 1 parking]       oakleigh        3         2
29   [4 beds, 1 bath, 4 parking]       oakleigh        4         1

   parking_spaces
0               2
1               2
2               1
3               2
4               1
5               2
6               2
7               1
8               2
9               3
10              1
11              2
12              1
13              1
14              1
15              1
16              2
17              2
18              1
19              1
20              2
21              2
22              2
23              2
24              4
25              1
26              2
27              1
28              1
29              4