Preprocessing Data: School Locations

In [1]:
import pandas as pd
import matplotlib as plt
import os

# set active working directory and read in data
os.chdir('/home/reihsuanc/generic-real-estate-consulting-project-group-20/data/raw')

school_df = pd.read_csv('dv309_schoollocations2021.csv', encoding = "ISO-8859-1")

# remove redundant columns
school_df = school_df.drop(['Education_Sector', 'Entity_Type', 'School_Status', 'Address_Line_2', 'Postal_Address_Line_2',
                                'Postal_Address_Line_1', 'Full_Phone_No', 'Postal_Town', 'Address_State', 'Postal_State', 
                                'Postal_Postcode', 'School_Type', 'SCHOOL_NO'], axis=1)

# obtain total number of schools in Victoria
tot_school_num = len(school_df)

school_df.to_csv('cleaned_school')

# check format
school_df.head()

,School_Name,Address_Line_1,Address_Town,Address_Postcode,LGA_ID,LGA_Name,X,Y
2286,Youth2Industry College,"Level 2, 220 Albert Road",SOUTH MELBOURNE,3205,590,Port Phillip (C),144.966417,-37.837469
2287,St Angela of the Cross Primary School,181 Mills Road,WARRAGUL,3820,83,Baw Baw (S),145.961611,-38.141528
2288,My College,92  96 Railway Crescent,DALLAS,3047,327,Hume (C),144.923692,-37.675751
2289,Woodline Primary,405 Barrabool Road,CERES,3221,275,Greater Geelong (C),144.285354,-38.171776
2290,Brosnan Learning Centre,326 Church Street,RICHMOND,3121,735,Yarra (C),144.998477,-37.821915

In [2]:
# number of schools by suburb
school_df.groupby('Address_Town')['School_Name'].count()

Address_Town
ABBOTSFORD      1
ABERFELDIE      2
AIRPORT WEST    1
ALBION          1
ALEXANDRA       1
               ..
Yea             2
Yering          1
Yinnar          1
Yinnar South    1
Zeerust         1
Name: School_Name, Length: 1320, dtype: int64